---
import { Image } from "astro:assets"
import item01 from "../assets/img/about/about01.png"
import item02 from "../assets/img/about/about02.png"
import item03 from "../assets/img/about/about03.png"
import item04 from "../assets/img/about/about04.png"
import item05 from "../assets/img/about/about05.png"
import item06 from "../assets/img/about/about06.png"
import item07 from "../assets/img/about/about07.png"
import add02 from "../assets/img/about/item_kama.svg"
import add03 from "../assets/img/about/item_muse.svg"
import add04 from "../assets/img/about/item_nin.svg"
import add05 from "../assets/img/about/item_pand.svg"
import add06 from "../assets/img/about/item_tanu.svg"
import add07 from "../assets/img/about/item_yu.svg"
import lottie from "lottie-web"
---

<section class="about" id="sec01">
  <div class="inner">
    <h2 class="tit_h2">ごあいさつ</h2>
    <p class="txt">みなさま、毎日の業務お疲れさまです。<br>みなさまの日々のがんばりによって、<br>こうして今年も社員旅行を決行することができました。<br>今年の目的地は<span class="big">「滋賀県の信楽」</span>です！<br>たくさんお仕事をがんばっているみなさまにとって、<br>少しでもこの旅行が癒しになればと、幹事一同心より願っております。<br>みなさまに楽しんでいただけると嬉しいです。
    </p>
  </div>
  <div class="lottie" id="lott"></div>
  <div class="item --no1" data-speed="0.1">
    <Image src={item01} alt="deco"></Image>
  </div>
  <div class="item --no2" data-speed="0.2">
    <Image src={item02} alt="deco"></Image>
  </div>
  <div class="item --no3" data-speed="0.4">
    <Image src={item03} alt="deco"></Image>
  </div>
  <div class="item --no4" data-speed="0.1" data-direction="reverse">
    <Image src={item04} alt="deco"></Image>
  </div>
  <div class="item --no5" data-speed="0.2" >
    <Image src={item05} alt="deco"></Image>
  </div>
  <div class="item --no6" data-speed="0.1" data-direction="reverse">
    <Image src={item06} alt="deco"></Image>
  </div>
  <div class="item --no7" data-speed="0.1">
    <Image src={item07} alt="deco"></Image>
  </div>
  <div class="item --add2" data-speed="0.4 data-direction="reverse">
    <Image src={add02} alt="deco"></Image>
  </div>
  <div class="item --add3" data-speed="0.3">
    <Image src={add03} alt="deco"></Image>
  </div>
  <div class="item --add4" data-speed="0.1" data-direction="reverse">
    <Image src={add04} alt="deco"></Image>
  </div>
  <div class="item --add5" data-speed="0.3" >
    <Image src={add05} alt="deco"></Image>
  </div>
  <div class="item --add6" data-speed="0.2" data-direction="reverse">
    <Image src={add06} alt="deco"></Image>
  </div>
  <div class="item --add7" data-speed="0.3">
    <Image src={add07} alt="deco"></Image>
  </div>
</section>


<style lang="scss">
  .about{
    position: relative;
    padding-top: 160px;
    padding-bottom: 800px;
    // overflow-x: hidden;
    @media (max-width: 765px) {
      padding-top: 64px;
    }
  }
  .inner {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    z-index: 500;
    padding: 0 40px;
    @media (max-width: 765px) {
      padding: 0 24px;
    }
  }
  .txt{
    font-family: "Zen Kaku Gothic New";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 270%; /* 40.5px */
    letter-spacing: 0.75px;
    margin-top: 40px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    @media (max-width: 765px) {
      margin-top: 24px;
      line-height: 240%; 
      letter-spacing: 0.5px;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }
  }
  .big{
    font-weight: 700;
    color: var(--mian01, #669F95);
  }
  .lottie {
    width: 100%;
    z-index: 10;
    top: 0;
    opacity: 0.3;
    position: absolute;
    scale:1;
    @media (max-width: 765px) {
      scale: 2;
      opacity: 0.2;
    }
  }
  .item{
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    transition: transform 0.1s ease-out;
    @media (max-width: 765px) {
      border-radius: 4px;
    }
    &.--no1{
      right: 25%;
      // top: 450px;
      top: 230px;
      width: 400px;
      z-index: 20;
      @media (max-width: 765px) {
        right: 18%;
        top: 380px;
        width: 240px;
      }
    }
    &.--no2{
      right: 8%;
      // top: 140px;
      top: 80px;
      width: 300px;
      z-index: 19;
      @media (max-width: 765px) {
        right: -5%;
        top: 190px;
        width: 180px;
      }
    }
    &.--no3{
      left: 48%;
      // top: 575px;
      top: 350px;
      width: 450px;
      z-index: 20;
      @media (max-width: 765px) {
        left: 2%;
        top: 350px;
        width: 280px;
      }
    }
    &.--no4{
      right: 35%;
      // top: 810px;
      top: 860px;
      width: 300px;
      z-index: 23;
      @media (max-width: 765px) {
        right: 55%;
        top: 760px;
        width: 200px;
      }
    }
    &.--no5{
      right: 60%;
      // top: 930px;
      top: 450px;
      width: 350px;
      z-index: 22;
      @media (max-width: 765px) {
        right: 52%;
        top: 810px;
        width: 180px;
      }
    }
    &.--no6{
      right: -2%;
      // top: 680px;
      top: 1000px;
      width: 340px;
      z-index: 26;
      @media (max-width: 765px) {
        right: 4%;
        top: 900px;
        width: 230px;
      }
    }
    &.--no7{
      left: -5%;
      // top: 1050px;
      top: 700px;
      width: 400px;
      z-index: 19;
      @media (max-width: 765px) {
        left:52%;
        top: 1020px;
        width: 220px;
      }
    }
    &.--add2{
      left: 20%;
      top: 780px;
      width: 207px;
      z-index: 30;
      @media (max-width: 765px) {
        left: 16%;
        top: 730px;
        width: 140px;
      }
    }
    &.--add3{
      left: 43%;
      top: 600px;
      width: 310px;
      z-index: 30;
      @media (max-width: 765px) {
        left: 43%;
        top: 600px;
        width: 220px;
      }
    }
    &.--add4{
      left: 17%;
      top: 780px;
      width: 120px;
      z-index: 30;
      @media (max-width: 765px) {
        left: 17%;
        top: 700px;
        width: 80px;
      }
    }
    &.--add5{
      right: 25%;
      top: 120px;
      width: 120px;
      z-index: 30;
      @media (max-width: 765px) {
        right: 25%;
        top: 120px;
        width: 100px;
      }
    }    
    &.--add6{
      right: 15%;
      top: 1620px;
      width: 160px;
      z-index: 30;
      @media (max-width: 765px) {
        right: 2%;
        top: 1660px;
        width: 120px;
      }
    }    
    &.--add7{
      left: 10%;
      top: 750px;
      width: 180px;
      z-index: 30;
      @media (max-width: 765px) {
        left: 1%;
        top: 500px;
        width: 140px;
      }
    }    
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {// @ts-ignore
    const logoAnimation = lottie.loadAnimation({
      container: document.getElementById('lott'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: '/json/data.json',
    });
    logoAnimation.setSpeed(1);
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const items = document.querySelectorAll('.item');

    window.addEventListener('scroll', function () {
      const scrollTop = window.scrollY;

      items.forEach(item => {
        // data-speed 属性の値を取得し、null チェック
        const speedAttr = item.getAttribute('data-speed');
        const speed = speedAttr ? parseFloat(speedAttr) : 0.2; // デフォルト値は0.2
        
        // data-direction 属性の値を取得し、null チェック
        const directionAttr = item.getAttribute('data-direction');
        const direction = directionAttr === 'reverse' ? -1 : 1; // 逆方向の指定があれば-1、なければ1

        // パララックス効果を適用
        const offset = scrollTop * speed * direction;
        item.style.transform = `translateY(${offset}px)`; // Y軸方向に移動
      });
    });
  });
</script>





