---
import { Image } from "astro:assets"
import sun from "../assets/img/event/sun.svg"
import moon from "../assets/img/event/moon.svg"
import cl01 from "../assets/img/event/cl1.svg"
import cl02 from "../assets/img/event/cl2.svg"
import star from "../assets/img/event/ster.svg"
import panda from "../assets/img/event/pandaburabura.svg"
import panda2 from "../assets/img/event/panda2.svg"
import sld01 from "../assets/img/event/nagasaki01.png"
---

<div class="eventWave">
  <div class="panda">
    <!-- <Image src={panda} alt="deco"></Image> -->
    <Image src={panda2} alt="deco"></Image>
  </div>
  <div class="sun">
    <Image src={sun} alt="deco"></Image>
  </div>
  <div class="moon">
    <Image src={moon} alt="deco"></Image>
  </div>
  <div class="star --s1">
    <Image src={star} alt="deco"></Image>
  </div>
  <div class="star --s2">
    <Image src={star} alt="deco"></Image>
  </div>
  <div class="star --s3">
    <Image src={star} alt="deco"></Image>
  </div>
  <div class="star --s4">
    <Image src={star} alt="deco"></Image>
  </div> 
  <div class="cl01">
    <Image src={cl01} alt="deco"></Image>
  </div>
  <div class="cl02">
    <Image src={cl02} alt="deco"></Image>
  </div>
  <!-- <div class="sky">
  </div> -->
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto"><defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="#5B705D" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="#6D9560" />
          <use xlink:href="#gentle-wave" x="48" y="6" fill="#7DAF81" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="#669F75" />
      </g>
  </svg>
  <!-- <figure class="Re__waveItem">
      <img src="/img/specialopening/winter/common/flame_01.png" alt="">
  </figure> -->
</div>
<section class="event" id="sec03">
  <div class="inner">
    <h2 class="tit_h2 --ch">イベント</h2>
    <div class="eventWrap">
      <h2 class="tit_h2inner">しがらきフォトコンテスト！</h2>
      <div class="eventBox">
        <div class="eventtxt">
          コンテスト概要を記入します。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。コンテスト概要を記入します。この文章はダミーです。文字の大きさ、
        </div>
        <div class="eventImg">
          <Image src={sld01} alt="deco"></Image>
        </div>
      </div>
      <div class="formLink">
        <!-- <a href="" class="btnItem">
          投稿フォームはこちら
        </a> -->
        <p class="btnItem">
          投稿フォーム準備中...
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .eventWrap{
    margin-top:40px;
    background:#fff;
    border-radius:24px;
    padding:40px;
    @media (max-width: 765px) {
      padding:24px 16px;
      }
  }
  .eventBox{
    display:flex;
    gap:24px;
    margin-top:24px;
    @media (max-width: 765px) {
      flex-direction:column;
      }
  }
  .eventImg{
    width:360px;
    border-radius:8px;
    overflow:hidden;
    flex-shrink:0;
    @media (max-width: 765px) {
      width:100%;
      }
  }
  .tit_h2inner{
    color: var(--Bk, #333);
    font-family: "Zen Kaku Gothic New";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 36px */
    letter-spacing: 1.5px;
    text-align:center;
    @media (max-width: 765px) {
      font-size: 28px;
      }    
  }
  .sky{
    position:absolute;
  }
  .panda{
      position:absolute;
      right:33%;
      width:120px;
      top: -28%;
      z-index:80;
      animation: pandakun 2s ease-in-out infinite;
      @keyframes pandakun {
        0% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(-10deg); 
        }
        100% {
          transform: rotate(10deg);
        }
      }
      @media (max-width: 765px) {
        right:30%;
        width:100px;
        top: -37%;
      }
    }
  .sun{
      position:absolute;
      left:15%;
      width:80px;
      top: 24%;
      animation: sunMove 20s ease-in-out infinite;
      @keyframes sunMove {
        0% {
          transform: translateY(0); 
        }
        50% {
          transform: translateY(300px); 
        }
        100% {
          transform: translateY(0); 
        }
      }
      @media (max-width: 765px) {
        left:7%;
      }
    }
    .moon{
      position:absolute;
      right:15%;
      width:80px;
      top: 24%;
      animation: Moon 20s ease-in-out infinite;
      @keyframes Moon {
        0% {
          transform: translateY(300px); 
        }
        50% {
          transform: translateY(0); 
        }
        100% {
          transform: translateY(300px); 
        }
      }
      @media (max-width: 765px) {
        right:7%;
      }
    }
    .star{
      position:absolute;
      width:40px;
      &.--s1{
        left:10%;
        top: 32%;
        animation: star1 20s infinite;
        @keyframes star1 {
          0% {
            opacity: 0;
          }
          40% {
            opacity: 0;
          }
          42% {
            opacity: 0.8;
          }
          45% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          53% {
            opacity: 0;
          }
          55% {
            opacity: 1;
          }
          57% {
            opacity: 0;
          }
          60% {
            opacity: 0.8;
          }
          62% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }
      &.--s2{
        left:40%;
        top: 39%;
        animation: star2 20s infinite;
        @keyframes star2 {
          0% {
            opacity: 0;
          }
          40% {
            opacity: 0;
          }
          42% {
            opacity: 0.8;
          }
          46% {
            opacity: 0;
          }
          48% {
            opacity: 1;
          }
          51% {
            opacity: 0;
          }
          53% {
            opacity: 1;
          }
          56% {
            opacity: 0;
          }
          62% {
            opacity: 0.8;
          }
          64% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }
      &.--s3{
        left:65%;
        top: 30%;
        animation: star1 20s infinite;
        @media (max-width: 765px) {
          left:55%;
        }
      }
      &.--s4{
        left:85%;
        top: 45%;
        animation: star2 20s infinite;
      }
    }
    .cl01{
      position:absolute;
      left:20%;
      width:100px;
      top: 34%;
      animation: cl01 20s ease-in-out infinite;
      @keyframes cl01 {
        0% {
          transform: translateX(0); 
        }
        50% {
          transform: translateX(100%); 
        }
        100% {
          transform: translateX(0); 
        }
      }
      @media (max-width: 765px) {
        left:5%;
        top: 15%;
      }
    }
    .cl02{
      position:absolute;
      left:55%;
      width:160px;
      top: 32%;
      animation: cl02 20s ease-in-out infinite;
      @keyframes cl02 {
        0% {
          transform: translateX(0); 
        }
        50% {
          transform: translateX(180%); 
        }
        100% {
          transform: translateX(0); 
        }
      }
      @media (max-width: 765px) {
        left:35%;
        top: 40%;
      }
    }
  .eventWave{
    position: relative;
    background:#000;
    height:480px;
    display: flex;
    align-items: end;
    overflow: hidden;
    animation: bgChange 20s ease-in-out infinite;
      @keyframes bgChange {
        0% {
          background:#E2F7FA;
        }
        50% {
          background:#333;
        }
        100% {
          background:#E2F7FA;
        }
      }
			.waves {
				position:relative;
				width: 100%;
				// margin-bottom:-12px; 
				max-height:160px;
				/* Animation */
				.parallax > use {
					animation: move-forever 30s cubic-bezier(.55,.5,.45,.5) infinite;
				}
				.parallax > use:nth-child(1) {
					animation-delay: 0s;
					animation-duration: 8s;
				}
				.parallax > use:nth-child(2) {
					animation-delay: -5s;
					animation-duration: 16s;
				}
				.parallax > use:nth-child(3) {
					animation-delay: -10s;
					animation-duration: 24s;
				}
				.parallax > use:nth-child(4) {
					animation-delay: -15s;
					animation-duration: 32s;
				}
				@keyframes move-forever {
					0% {
					transform: translate3d(-90px,0,0);
					}
					100% { 
						transform: translate3d(85px,0,0);
					}
				}
			}
      @media (max-width: 765px) {
        height:380px;
    }
  }
  .event{
    padding-top: 80px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    background: #669F75;
    // border-radius: 120px 0px 0px 0px;
    @media (max-width: 765px) {
      padding-top: 70px;
      padding-bottom: 80px;
      // border-radius: 60px 0px 0px 0px;
    }
  }
  .inner {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  z-index: 500;
  padding: 0 40px;
  @media (max-width: 765px) {
    padding: 0 24px;
  }
  }
  .formLink{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    @media (max-width: 765px) {
      margin-top: 24px;
      }
  }
  .btnItem{
    width: 400px;
    padding: 24px;
    font-family: "Zen Kaku Gothic New";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    background: #669F95;
    border-radius: 8px;
    color: var(--mian01, #fff);
    transition: 0.3s;
    text-align: center;
    &:hover{
      cursor: url('../assets/img/cursor.svg') 57.5 57.5, auto; /* 画像の中心に合わせる */
      background: #D9D9D9;
    }
  }
  .swiper-container {
  width: 100%;
  height: 300px; /* スライダーの高さを調整 */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f3f3f3; /* スライドの背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

