---
import { Image } from 'astro:assets';
import { newtClient } from '../lib/newt';
import type { Article } from '../lib/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body','coverImage'],
  },
})

articles.map((article) => {
  console.log(article);
});





---
<ul>
  {
    articles.map((article) => {
      return (
        <li>
          <a href={`/articles/${article.slug}`}>
            <Image src={article.coverImage.src} alt="" width={article.coverImage.width} height={article.coverImage.height} />
            <p>{article.slug}</p>
            <h1>{article.title}</h1>
        
            </a>
        </li>
      )
    })
  }
</ul>

<style lang="scss">
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
</style>

<script>
  // console.log("unko");
</script>